.ClientsListing {
    margin: 0;

    &__scroll-pos {
        position: fixed;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        max-width: 992px;
        margin: 0 auto;
        padding: 0;

        .Client {
            flex: 1 1 200px;
        }
    }

    &--list-mode {
        .ClientsListing__list {
            flex-direction: column;
            flex-wrap: nowrap;

            .Client {
                flex: 0 0 auto;
                display: flex;
                align-items: center;

                &__actions {
                    justify-content: right;
                }
            }
        }
    }
}
